.cards-container{
    width: 100%;
    min-height: 100vh;
    padding-top: 110px;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.card-container{
    width: 100%;
    height: 100%;
}

.card-container p, h6, h5{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.card-container figure{
    width: 100%;
    max-height: 500px;
    border-radius: 14px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.card-container figure img{
    width: 100%; 
    height: 100%;
}

.isHidden{
   display: none;
}

.isVisible{
   display: block;
}

.img-skeleton{
    width: 100%;
    height: 20vw;
    max-height: 500px;
}

.super-host{
    border-radius: 12px;
    border:1px solid #4F4F4F;
    padding: 10px;
    margin-right: 3px;
}


@media (max-width : 768px) {
    .img-skeleton{
        height: 300px;
    }
    .cards-container{
        grid-template-columns:1fr;
    }
}